<div *ngIf="IsloggedIn" >
    
    <div class="row nav-bar-div">
      
      <div style="width:100%;">
        <div class="row" style="float:right;">
          <!-- <div class="col-sm-4"></div> -->
          <div class="col-sm-12">
            <span routerLinkActive="active-cls" routerLink='services'>Services</span>
            <span routerLinkActive="active-cls"  routerLink='servicedetails'>Service Details</span>
            <span (click)="Logout()">Logout</span>
          </div>
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>